---

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import { Picture } from 'astro:assets';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog', ({ data }) => data.lang === 'de');

import de from '@/i18n/de.json';
import en from '@/i18n/en.json';

const { pathname } = Astro.url;
const isEnglish = pathname.startsWith('/en');
const t = isEnglish ? en : de;
---
<!DOCTYPE html>
<html lang="de">
	<head>
		<BaseHead title={t.serp.blogTitle} description={t.serp.blogDesc} />
	</head>
	<body class="flex flex-col bg-white text-gray-800">
		<div class="js-header-desktop-shim absolute t-0"></div>
		<Header title={SITE_TITLE} headerClass="header bg-white py-8 lg:py-10 lg:sticky top-0 transition-padding duration-150 ease-linear z-10" headerDotClass="text-servette" headerFixClass="bg-white" role="banner" />
		
		<main class="flex-grow flex-shrink-0 relative" role="main">
			<section class="py-4 xl:py-8 prose lg:prose-2xl max-width mx-auto">
				<h1 class="!mb-7 !font-leadFont !text-3xl !lg:text-4xl !mt-0">Vertiefe dein Wissen mit spannenden Blogbeitr&auml;gen</h1>
				<p>
					Willst du dein Wissen erweitern? Dann kann das Lesen meiner Blogbeitr&auml;ge im Bereich KI, Bilder und Videogenerationen, Webentwicklung und Marketing eine bereichernde Erfahrung sein. Ich m&ouml;chte informative und spannende Inhalte liefern, die deinen Bed&uuml;rfnissen entsprechen und dich &uuml;ber die Themen auf dem Laufenden halten, die dich interessieren.
				</p>
			</section>

			<ul class="grid gap-5 md:gap-5 pt-8 pb-20 xl:pt-16 xl:pb-28 max-width mx-auto">
				{posts.reverse().map(post => (
					<li>
						<div class="fade-in grid md:grid-cols-2 gap-5 md:gap-10 lg:items-center mb-8">
							{post.data.heroImage && <a href={`/blog/${post.slug}`}><Picture src={post.data.heroImage} widths={[320, 640, 1200]} width={1200} height={600} sizes="(max-width: 640px) 100vw, 960px" formats={['avif', 'webp','jpg']}  alt={post.data.title} /></a>}
							<div class="grid grid-cols-1 text-2xl">
								<h2 class="!font-headingFont !text-3xl font-bold !mb-3">{post.data.title}</h2>
								<p>{post.data.description}</p>
								<a href={`/blog/${post.slug}`} class="mt-4 underline decoration-1 hover:no-underline">{post.data.linktext}</a>
							</div>
						</div>
					</li>
				))}
			</ul>

			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" class="fill-fog-100 w-full absolute left-0 right-0 top-auto bottom-[-1px] max-h-[50px]">
				<polygon points="100 0 100 10 0 10"></polygon>
			</svg>
		</main>

		<Footer footerClass="bg-fog-100 flex justify-center py-10 xl:pt-16" />
	</body>
</html>

<style>

	h1 + p {
		margin-top: 0 !important;
	}
	
</style>

<script>
    import { observeFadeIn } from '@/scripts/scroll-observer.js';
    document.addEventListener('DOMContentLoaded', () => {
        observeFadeIn('.fade-in');
    });
</script>