---
import { Picture } from 'astro:assets';

interface Item {
	name: string;
	value: string;
	placeHolder: ImageMetadata;
	direction?: string;
}

export interface Props {
	items?: Array<Item>;
}

const {
	items = [],
} = Astro.props;

---

<ul id="cards" class="pt-8 mx-auto header-max-width">
    {
        items.map(({ name, value, placeHolder, direction }, index) => (
            <li class="card" data-id={index}>
                <div class="card__content">
                    <div>
						<h2 class="!leading-4 mb-0 !md:mb-2 !lg:mb-4 !font-leadFont !font-normal !text-2xl !lg:text-3xl">{name}</h2>
						<p class="lg:text-xl sr-only md:not-sr-only">
							{value}
						</p>
                    </div>
                    <figure class={direction}>
                        <Picture src={placeHolder} layout='responsive' width={2400} height={1200} formats={['avif', 'webp']}  alt={name} />
                    </figure>
                </div>
            </li>
        ))
    }
</ul>


<style>
    :root {
        --card-height: 60vw;
        --card-margin: 10vw;
        --card-top-offset: 1em;
        --numcards: 4;
        --outline-width: 0px;
    }

    #cards {
        padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
        margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    }


    [data-id="1"] {
        --index: 1;
    }

    [data-id="2"] {
        --index: 2;
    }

    [data-id="3"] {
        --index: 3;
    }

    [data-id="4"] {
        --index: 4;
    }

    [data-id="5"] {
        --index: 5;
    }

    [data-id="6"] {
        --index: 6;
    }

    [data-id="7"] {
        --index: 7;
    }

    [data-id="8"] {
        --index: 8;
    }

    .card {
        position: sticky;
        top: 20px;
        padding-top: calc(var(--index) * var(--card-top-offset));
    }


    @media (min-width: 768px) { 
        :root {
            --card-height: 38vw;
            --card-margin: 4vw;
        }
    }

    @media (min-width: 1024px) { 
        .card {
            top: 140px;
        }
    }

    @supports (animation-timeline: works) {

        @scroll-timeline cards-element-scrolls-in-body {
            source: selector(body);
            scroll-offsets:
                /* Start when the start edge touches the top of the scrollport */
                selector(#cards) start 1,
                /* End when the start edge touches the start of the scrollport */
                selector(#cards) start 0
            ;
            start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
            end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
            time-range: 4s;
        }

        .card {
            --index0: calc(var(--index) - 1); /* 0-based index */
            --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
            --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
        }
        
        .card__content {
            transform-origin: 50% 0%;
            will-change: transform;

            --duration: calc(var(--reverse-index0) * 1s);
            --delay: calc(var(--index0) * 1s);

            animation: var(--duration) linear scale var(--delay) forwards;
            animation-timeline: cards-element-scrolls-in-body;
        }

        @keyframes scale {
            to {
                transform:
                    scale(calc(
                        1.1
                        -
                        calc(0.1 * var(--reverse-index))
                    ));
            }
        }
    }

/** DEBUG **/

    /* #debug {
    position: fixed;
    top: 1em;
    left: 1em;
    }
    #debug::after {
    content: " Show Debug";
    margin-left: 1.5em;
    color: white;
    white-space: nowrap;
    }

    #debug:checked ~ main {
    --outline-width: 1px;
    } */


    #cards {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--numcards), var(--card-height));
        gap: var(--card-margin);
    }

    .card__content {
        min-height: var(--card-height);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        background: rgb(255, 255, 255);
        overflow: hidden;

        display: grid;
        grid-template-areas: "img img";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: stretch;
        
        /* outline: var(--outline-width) solid lime; */
    }

    .card__content > div {
        position: absolute;
        grid-area: text;
        width: fit-content;
        display: grid;
        gap: 1em;
        place-self: center;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card__content > figure {
        grid-area: img;
        /*overflow: hidden;*/
    }

    .card__content > figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(3deg) scale(1.5);
    }

    .card__content > figure.right img {
        object-position: right center;
    }

    .card__content > figure.left img {
        object-position: left center;
    }

    @media (min-width: 768px) {
        .card__content {
            grid-template-areas: "text img";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            align-items: stretch;
        }

        .card__content > div {
            width: 80%;
            padding: 0;
            position: relative;
            text-align: left;
            place-items: start;
            transform: none;
            top: auto;
            left: auto;
        }

        .card__content > figure img {
            transform: none;
            border-left: 1px solid hsl(225, 14%, 95%);
        }
    }

    @media (max-width: 768px) {
        .card__content h2 {
            font-size: 1rem !important;
        }
        .card__content > div {
            padding: 1rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: white;
            z-index: 2;
        }
    }

</style>