---
const today = new Date();
const { footerClass } = Astro.props;
import Linktree from '@/components/icons/Linktree.astro';
import Codepen from '@/components/icons/Codepen.astro';
import Linkedin from '@/components/icons/Linkedin.astro';
import { SITE_TITLE, SITE_DESCRIPTION, EMAIL, HANDLE_GITHUB, HANDLE_TWITTER, HANDLE_CODEPEN } from '../consts';
---

<footer class:list={[ footerClass ]}>
	<article class="max-width mx-auto">
	
		
		<h2 class="!mb-4 !lg:mb-6 !font-leadFont !font-normal !text-2xl !lg:text-3xl">Get in touch</h2>
		<p class="font-headingFont text-4xl lg:text-6xl xl:text-7xl leading-tight extra-tight my-4">
			Feel free to reach out if you want to collaborate with me, or simply have a chat.
		</p>
	
		<div class="max-width mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 mt-5 lg:mt-10 lg:mb-20">

			<div class="column">
				<p class="lg:text-xl">
					Web developer and funk music lover based in Olten. I love to learn new things and share my knowledge with others. 
				</p>
				
				<div class="mt-10 grid gap-5">
					<a href={`mailto:${EMAIL}`} 
						class="flex justify-center font-headingFont !text-3xl font-semibold text-fog-100 bg-servette hover:bg-black focus:ring-4 focus:ring-red-300 rounded-sm px-10 py-5 focus:outline-none transition duration-150 ease-out hover:ease-in">
						Say Hello
					</a>
				</div>
			</div>
			<div class="column">
				<p class="lg:text-xl">
					I try to respond to messages in a timely manner. I value your feedback and would appreciate the opportunity to hear your thoughts. 
				</p>

				<p class="lg:text-xl !font-leadFont my-8">
					&copy; {today.getFullYear()}&nbsp;{SITE_TITLE} - {SITE_DESCRIPTION}
				</p>

				<div class="flex space-x-3 lg:text-3xl">
					<a
					class="hover:opacity-70 py-2 px-3 rounded-lg"
					title="Codepen"
					href={`https://linktr.ee/maillard.dev`}
					target="_blank"
					rel="noopener"
				>
					<Linktree />
				</a>
					<a
						class="hover:opacity-70 py-2 px-3 rounded-lg"
						title="Linkedin"
						href={`https://www.linkedin.com/in/michel-maillard`}
						target="_blank"
						rel="noopener"
					>
						<Linkedin />
					</a>
					<a
						class="hover:opacity-70 py-2 px-3 rounded-lg"
						title="Codepen"
						href={`https://codepen.io/${HANDLE_CODEPEN}`}
						target="_blank"
						rel="noopener"
					>
						<Codepen />
					</a>

				</div>
			</div>
		</div>
	</article>
</footer>