---
import type { CollectionEntry } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import HeaderLink from '@/components/HeaderLink.astro';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

import { SITE_TITLE } from '../consts';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="flex flex-col bg-white dark:bg-primary-dark text-gray-800 dark:text-primary-light">
		<div class="js-header-desktop-shim absolute t-0"></div>
		<Header title={SITE_TITLE} headerClass="header bg-white dark:bg-primary-dark py-8 lg:py-10 lg:sticky top-0 transition-padding duration-150 ease-linear z-10" headerDotClass="text-servette" headerFixClass="bg-white" />
		
		<main class="flex-grow flex-shrink-0 relative">
			<article class="pb-20 prose prose-headings:font-headingFont mx-auto lg:max-w-[50%] sm:px-6 px-6 mt-8 dark:prose-a:servette dark:prose-headings:servette dark:prose-invert lg:prose-xl prose-a:servette prose-headings:leading-tighter prose-lg prose-md">
				{heroImage && <Picture class="mb-5 lg:mb-10" src={heroImage} widths={[320, 640, 1200]} aspectRatio="1200:600" width={1200} height={600} sizes="(max-width: 640px) 100vw, 960px" formats={['avif', 'webp']}  fit={'cover'}  alt="descriptive text" />}
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
		
				<slot />
				

				<HeaderLink href="/blog" class="mt-8 leading-1 no-underline inline-flex justify-center font-headingFont !text-2xl font-semibold text-black border-2 border-black bg-white hover:text-white hover:bg-black hover:border-black focus:ring-4 focus:ring-red-300 rounded-sm px-5 py-2 focus:outline-none transition duration-150 ease-out hover:ease-in">Back to blog</HeaderLink>
			</article>


			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" class="fill-fog-100 dark:bg-primary-dark w-full absolute left-0 right-0 top-auto bottom-[-1px] max-h-[50px]">
				<polygon points="100 0 100 10 0 10"></polygon>
			</svg>
		</main>

		<Footer footerClass="bg-fog-100 dark:bg-primary-dark flex justify-center py-10" />
	</body>
</html>
